{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
  <h1>Shopping Cart</h1>
  <div class="cart-container">
    <table id="cart-table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="cart">
        {% for item_id, item in cart_items.items() %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
            <td>£{{ item.price }}</td>
            <td><button class="remove-from-cart" data-item-id="{{ item.id }}">Remove</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p id="order-status"></p>
    <form id="checkout-form">
      <input type="submit" value="Checkout">
    </form>

    </ul>
    <p>Total: £{{ price }}</p>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
