{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}

  <h1>Shopping Cart</h1>
  <div class="cart-container">
    <table id="cart-table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="cart">
        
        {% for item in cart_list %}
          <tr data-item-id="{{ item.item_id }}">
    <td>{{ item.item.name }}</td>
    <td>x{{ item.item.quantity }}</td>
    <td>£{{ item.item.price }}</td>
    <td><button class="remove-from-cart" data-item-id="{{ item.item_id }}">Remove</button></td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
    <p id="order-status"></p>
    <form id="checkout-form" action="/checkout" method="get">
      <input type="submit" value="Checkout">
    </form>
    
      <p>Total: £{{ subtotal }}</p>
    </ul>
  </div>
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
