{% extends 'base.html' %}
{% block content %}
<section class="contact-us" >
<div class="contact">
    <div class="contact-container">
        <h1>Our Location</h1>
        <div class="contact-info">
            <div>
                <h2>Our Address</h2>
                <p> 142 Cheetham Hill Rd, Cheetham Hill <br>Manchecsteer M8 8PZ, United Kingdom</p>
            </div>
            <div>
                <h2>Phone</h2>
                <p><a href="tel:+1234567890">+0161 834 5656</a></p>
            </div>
            <div>
                <h2>Email</h2>
                <p><a href="mailto:info@restaurant.com">info@restaurant.com</a></p>
            </div>
            <div><h2>Opening Hours</h2>
            <p>Open 7 Days From, 11:00 am to 11:00 pm</p>
            </div>
        </div>
        </div>
    <h2>Get in Touch</h2>
    <p>Have a question or want to make a reservation? Contact us today!</p>
    <form>
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <textarea placeholder="Message"></textarea>
        <button>Send</button>
    </form>
</div>
<section>
{% endblock %}


